{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load i18n  %}
{% block content %}
    {% include 'shared/TitleSection1.html' %}
    <section class="ls s-pt-xl-160 s-pb-xl-280 s-pt-lg-130 s-pb-lg-250 s-py-md-90 s-py-60 c-gutter-30">
        <div class="container">
            <div class="row">
                <main class="col-lg-7 col-xl-9">
                    <div>
                        <ul class="products columns-3">
                            {% for product in products %}
                                <li class="product">
                                    <div class="product-inner">
                                        <a class="woocommerce-LoopProduct-link woocommerce-loop-product__link"
                                           href="{{ product.get_absolute_url }}">

                                            {% if product.image %}
                                                <img src="{{ product.image.url }}" loading="lazy" alt="img">
                                            {% else %}
                                                <img src="{% static 'images/cover1.jpg' %}" loading="lazy" alt="img">
                                            {% endif %}
                                        </a>
                                        <h2 class="woocommerce-loop-product__title">
                                            <a class="woocommerce-LoopProduct-link woocommerce-loop-product__link"
                                               href="{{ product.get_absolute_url }}">
                                                {% if request.LANGUAGE_CODE == 'fa' %}
                                                    {% if product.persian_title %}
                                                        {{ product.persian_title }}
                                                    {% else %}
                                                        <!-- Handle the case when category.persian_title is null -->
                                                        {{ product.title }}
                                                    {% endif %}
                                                {% else %}
                                                    {{ product.title }}
                                                {% endif %}
                                            </a>
                                        </h2>
                                        <div class="product-description-short">
                                            {{ product.application|title }}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- columns 2 -->
                </main>
                <aside class="col-lg-5 col-xl-3">
                    <div class="widget widget_product_search">
                        <h3 class="widget-title">{% trans "Search" %}</h3>
                        <form role="search" method="get" class="woocommerce-product-search"
                              action="{% url 'product:product_search' %}">
                            <label class="screen-reader-text" for="woocommerce-product-search-field-widget">
                                {% trans "Search for:" %}
                            </label>
                            <input type="search" id="woocommerce-product-search-field-widget" class="search-field"
                                   placeholder="{% trans "Search" %}" value="{{ request.GET.q }}" name="q">
                            <input type="submit" value="{% trans "Search" %}">
                        </form>
                    </div>
                    <div class="widget woocommerce widget_product_categories">
                        <h3 class="widget-title">{% trans "Categories" %}</h3>
                        <ul class="product-categories" id="category_list">
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer_ref %}
    <script>
        function titleCase(str) {
            str = str.toLowerCase().split(' ');
            for (var i = 0; i < str.length; i++) {
                str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1);
            }
            return str.join(' ');
        }

        $(document).ready(function () {
            var currentLanguage = window.location.pathname.split('/')[1];
            $.ajax({
                url: '{% url 'get_categories' %}',
                dataType: 'json',
                success: function (data) {
                    let categories = JSON.parse(data['categories']);
                    $.each(categories, function (index, value) {
                        let send_title = value['fields']['title']
                        let category_title = (currentLanguage === 'fa' && value['fields']['persian_title'] !== null)
                            ? value['fields']['persian_title']
                            : value['fields']['title'];

                        let category_url = send_title.replace(' ', '-')
                        let url = "{% url 'product:sub_category_list' 'category' %}";
                        url = url.replace('category', category_url);
                        $('#category_list').append(`<li class="cat-item"><a href="${url}">${titleCase(category_title)}</a></li>`)
                    });
                }
            });
        });
    </script>
{% endblock %}