{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<body>
<section class="page_title ds ms s-parallax s-overlay s-pb-xl-80  s-pb-lg-100  s-pb-md-90 s-pt-md-190 s-pt-180 s-pb-60">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center text-lg-left">
                <h1>
                    {% if request.LANGUAGE_CODE == 'fa' %}
                        {% if persian_page_name %}
                            {{ persian_page_name }}
                        {% else %}
                            <!-- Handle the case when category.persian_title is null -->
                            {{ page_name }}
                        {% endif %}
                    {% else %}
                        {{ page_name }}
                    {% endif %}
                </h1>
            </div>
            <div class="col-lg-6 ">
                <div class="breadcrumb-wrap">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'home' %}">{% trans "Home" %}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">
                            {% if request.LANGUAGE_CODE == 'fa' %}
                        {% if persian_page_name %}
                            {{ persian_page_name }}
                        {% else %}
                            <!-- Handle the case when category.persian_title is null -->
                            {{ page_name }}
                        {% endif %}
                    {% else %}
                        {{ page_name }}
                    {% endif %}
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>